<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <%= render @book %>
    <p class="my-5">
      <strong class="block font-medium">Reviews</strong>
      <%= render @book.reviews %>
    </p>
    <%= link_to 'Add Review', new_review_path(@book), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium hover:bg-blue-600 hover:text-white" %>
    <%= link_to 'Back to books', root_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium hover:bg-blue-600 hover:text-white" %>
  </div>
</div>
