<!DOCTYPE html>
<html>
  <head>
    <title>RorBookStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
  </head>
  <body>
    <%= render 'layouts/header' %>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
      <%
=begin%>
      <% if logged_in? %>
        <%= yield %>
      <% else %>
        <%= link_to "Log In", login_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
      <% end %>
      <%
=end%>
    </main>
  </body>
</html>
